.phone-book-table-container {
  overflow: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 50vw;
}

table {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.filter-add-row {
  display: flex;
  justify-content: space-between;
}

.filter-add-item {

}
